/*Global*/
body{
  font-family: Arial;
  margin: 0px;
  color: #141414;
}

h1,h2,h3,p{
  margin: 0px;
}
ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}


/*Header*/

.header{
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header-menu a{
  font-size: 1.125rem;
  line-height: 1.3;
  padding:  10px 20px;
  text-decoration: none;
  color: #141414 ;
}
/*Global da imagem*/
img{
  max-width: 100%;
  display: block;
}
/*intrdução*/
.introducao{
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr ;
  gap: 20px;
  align-items: center;
}
.saida{
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
}
.introducao p{
  font-size: 1.5rem;
  color: #525252 ;
}

/*Experiencia*/
.Strongum{
  color: #f83707;
}
.Strongdois{
  color: rgb(23, 199, 199);
}
.Strongtres{
  color: #ffee00;
}
.Experiencia{
  max-width: 100%;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}
.subtitulo{
  font-size: 8rem;
  line-height: 1;
  word-break: break-all;
  text-transform: uppercase;
  max-width: 8ch;
}
.Experiencia .subtitulo{
  color: #e0e0e0;
}
.Experiencia-texto{
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 30ch;
  margin-bottom: 60px;
  color: #525252;
}
.empresa{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  gap: 10px 20px;
}

.empresa-ano{
  position: absolute;
  top: 20px;
  left: -100px ;
  color: #525252;
  font-size: 0.875em; ;
  
}
.empresa-titulo{
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}
.empresa-texto{
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}
.empresa-habilidades{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}
.empresa-habilidades li{
  font-size: 0.875rem;
  line-height: 1.4rem;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 5px 10px;
}
.mensao{
  font-size: 0.875rem;
  line-height: 1.4rem;
  border-radius: 4px;
  background-color: #01a709a6;
  padding: 5px 10px;
  text-decoration: none;
  color: #141414;
  
}
.empresa-habilidades a:hover{
  text-decoration: none;
}

.containerum{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 font-family: arial;
 display: grid;
 grid-template-columns: 1fr 1fr;
}
.containerdois{
  margin: 0px 0px 0px 0px;
  align-items: center;
  background-color: rgb(28, 28, 214);
}
form{
    background-color: rgb(200, 200, 214);
    border-radius: 20px;
   display: grid;
    gap: 10px;
    margin: 0 0px 0px 0px;
    padding: 80px;
    
}
.input{
  padding: 20px;
  border: none;
  border-radius: 8px;
}
.subtitulodois{
  font-size: 2rem;
  line-height: 1;
  word-break: break-all;
  text-transform: uppercase;
  max-width: 7ch;
  border: none;
  border-radius: 8px;
}
#subtitulo{
  font-size: 4rem;
  line-height: 1;
  word-break: break-all;
  text-transform: uppercase;
  max-width: 10ch;
  color: #525252;
}
.Mensagem{
  border: none;
  border-radius: 8px;
}
.butao{
  padding: 20px;
  font-family: arial;
  font-weight: 800;
  background-color: #00ffbf9d;
  border: none;
  border-radius: 8px;
}
/*responsivo header*/
@media (max-width:400px){
  .header{
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .header a{
    display: none;
    background-color: #f5f5f5;
    border-radius: 4px;
  }
  .subtitulo{
    font-size: 4rem;
    line-height: 1;
    word-break: break-all;
    text-transform: uppercase;
    max-width: 1ch;
    
  }
  .formacao{
    background-color: #ffffff;
    color: #000000;
    width:800px;
    padding: 40px 20px;
    margin: 0px 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    }
  
}
@media (max-width:800px){
  .header{
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .header a{
    display: none;
    background-color: #f5f5f5;
    border-radius: 4px;
  }
  .subtitulo{
    font-size: 4rem;
    line-height: 1;
    word-break: break-all;
    text-transform: uppercase;
    max-width: 1ch;
  }
  .formacao{
    color: #000000;
    max-width:100%;
    padding: 40px 20px;
    margin: 0px 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    
}
@media (max-width:1000px){
  .introducao h1{
    font-size: 3rem;
  }
  .formacao{
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .cursos ul{
    max-width: 100%;
  }

}
@media (max-width:1200px){
  .introducao{
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1{
    font-size: 2rem;
  }
  .subtitulo-formacao{
    font-size: 10px;
    text-transform: uppercase;
    max-width: 2ch;
  }
  .formacao{
    height: 1000px;
  }
  .formacao-lista{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .containerum{
    height: 1000px;
  }
  .containerdois{
    display: flex;
    flex-direction: column;
  }
  .subtitulodois{
    margin-top: 200px;
    text-align: center;
    max-width: 10ch;
  }
  }
